<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="admin/fragments/admin-fragments :: header"></div>
    <title>Edit Admin</title>
</head>
<body>

<main class="main" id="top">
    <div class="container-fluid" data-layout="container">

        <div th:replace="admin/fragments/admin-fragments :: mainNavbar"></div>

        <div class="content">
            <div th:replace="admin/fragments/admin-fragments :: topNavbar"></div>

            <div class="card mb-3">
                <div class="card-header">
                    <div class="row flex-between-end">
                        <div class="col-auto align-self-center">
                            <h5 class="mb-0" data-anchor="data-anchor">Edit Admin</h5>
                        </div>
                        <div class="col-auto ms-auto">
                            <div class="nav nav-pills nav-pills-falcon flex-grow-1" role="tablist">
                                <a href="/admin/admins">
                                    <button class="btn btn-sm" type="button">Admins</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body bg-light">
                    <div class="tab-content">
                        <div class="tab-pane preview-tab-pane active" role="tabpanel">
                            <form method="post" action="/admin/edit">
                                <div class="mb-3"><label class="form-label" for="name">Name
                                </label><input class="form-control" id="name" th:value="${admin.name}" type="text" name="name"/></div>

                                <div class="mb-3"><label class="form-label" for="surname">Surname
                                </label><input class="form-control" id="surname" th:value="${admin.surname}" type="text" name="surname"/></div>

                                <div class="mb-3"><label class="form-label" for="email">Email
                                    address</label><input class="form-control" id="email" th:value="${admin.email}" type="email" name="email"
                                                          placeholder="name@example.com"/></div>

                                <div class="mb-3"><label class="form-label" for="phoneNumber">Phone Number with country code (+374)
                                </label><input class="form-control" id="phoneNumber" th:value="${admin.phoneNumber}" type="text" name="phoneNumber"/>
                                </div>

                                <div class="mb-3"><label class="form-label" for="country">Country
                                </label><input class="form-control" id="country" th:value="${admin.country}" type="text" name="country"/>
                                </div>

                                <div class="mb-3"><label class="form-label" for="city">City
                                </label><input class="form-control" id="city" th:value="${admin.city}" type="text" name="city"/>
                                </div>

                                <div class="mb-3"><label class="form-label" for="address">Address
                                </label><input class="form-control" id="address" th:value="${admin.address}" type="text" name="address"/>
                                </div>


                                <div class="mb-3"><label class="form-label" for="dob">Date of Birth</label>
                                    <input class="form-control" id="dob"
                                           th:value="${T(academy.itspace.util.DateUtil).formatDateToString(admin.dateOfBirthday)}" type="date" name="dob"></div>
                                <input type="hidden" th:value="${admin.id}" name="id">
                                <button class="btn btn-primary" type="submit">Submit</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="admin/fragments/admin-fragments :: footer"></div>

        </div>

    </div>
</main>
<div th:replace="admin/fragments/admin-fragments :: js"></div>

</body>
</html>