<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="teacher/fragments/teacher-fragments :: header"></div>
    <title>Teacher</title>
    <style>
        ::-webkit-scrollbar {
            width: 5px;
        }

        ::-webkit-scrollbar-track {
            background: white;
        }

        ::-webkit-scrollbar-thumb {
            background: #2196F3;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: blue;
        }
    </style>
</head>
<body>

<main class="main" id="top">
    <div class="container-fluid" data-layout="container">
        <div th:replace="teacher/fragments/teacher-fragments :: mainNavbar"></div>

        <div class="content">
            <div th:replace="teacher/fragments/teacher-fragments :: topNavbar"></div>

            <h3 style="position: absolute;width: 135px;height: 18px;top: 80px;font-family: 'Poppins';font-style: normal;font-weight: 500;font-size: 24px;line-height: 18px;color: #2C7BE5;">Dashboard</h3>

            <div style="display: flex">
                <div class="col-sm-12" style="display: inline-block;margin-right: 2%">
                    <div class="row g-3 mb-3">
                        <div class="col-md-6 col-xxl-3" style="width:25% !important;">
                            <div class="card h-md-100 ecommerce-card-min-width">
                                <div class="card-header pb-0">
                                    <h3 class="mb-0 mt-2 d-flex align-items-center" style="font-family: 'Poppins';font-style: normal;line-height: 18px;color: #5E6E82;" th:text="${studentsCount}">
                                    </h3>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-end">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="content-name" style="display:inline-block;color: #5E6E82;">Total
                                                Students</h5>
                                            <img src="/teacher/img/crm/students.png"
                                                 style="margin-left: 47px; display:inline-block"><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3" style="width:25% !important;">
                            <div class="card h-md-100 ecommerce-card-min-width">
                                <div class="card-header pb-0">
                                    <h3 class="mb-0 mt-2 d-flex align-items-center" style="font-family: 'Poppins';font-style: normal;
                            line-height: 18px;color: #5E6E82;" th:text="${coursesCount}">
                                    </h3>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-end">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="content-name" style="display:inline-block;color: #5E6E82;">Course
                                            </h5>
                                            <img src="/teacher/img/crm/book.png"
                                                 style="margin-left: 47px; display:inline-block"><br>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3" style="width:25% !important;">
                            <div class="card h-md-100 ecommerce-card-min-width">
                                <div class="card-header pb-0">
                                    <h3 class="mb-0 mt-2 d-flex align-items-center" style="font-family: 'Poppins';font-style: normal;line-height: 18px;color: #5E6E82;" th:text="${modulesCount}">
                                    </h3>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-end">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="content-name" style="display:inline-block;color: #5E6E82;">Total
                                                Module</h5>
                                            <img src="/teacher/img/crm/youtube.png"
                                                 style="margin-left: 47px; display:inline-block"><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xxl-3" style="width:25% !important;">
                            <div class="card h-md-100 ecommerce-card-min-width">
                                <div class="card-header pb-0">
                                    <h3 class="mb-0 mt-2 d-flex align-items-center" style="font-family: 'Poppins';font-style: normal;line-height: 18px;color: #5E6E82;" th:text="${earning}">
                                    </h3>
                                </div>
                                <div class="card-body d-flex flex-column justify-content-end">
                                    <div class="row">
                                        <div class="col">
                                            <h5 class="content-name" style="display:inline-block;color: #5E6E82;">Total
                                                Earning</h5>
                                            <img src="/teacher/img/crm/dolar.png"
                                                 style="margin-left: 47px; display:inline-block"><br>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div style="display: flex; margin-top: 3em">
                <div class="col-sm-7 card h-md-100"
                     style="display: inline-flex;max-height: 450px;top: -40px; margin-right: 0.3em">
                    <div>
                        <h5 style="display: inline-block;color: #5E6E82;
                        margin-left: 3%;margin-top:20px;">My Courses</h5>
                        <br>
                        <div style="height:450px;max-height:450px;margin-top:-48px;">
                            <div style="top:10%;position:relative;overflow-y:scroll;height:88%;display:block;">
                                <hr>
                                <div th:each="item: ${courses}"
                                     style="display: inline-block; width: 49% !important;">
                                    <div class="avatar avatar-xl rounded-circle"
                                         style="background: #00365f;width:4rem;height:4rem;color:white;text-align: center;margin-left:25px;
                                        top:10px;"><img th:src="${item.photo}">
                                    </div>
                                    <div style="display: inline-block;padding-top: 0%;position: relative;
                                    margin-left: 35px;">
                                        <h5 style="display:inline-block;" th:text="${item.name}"></h5>
                                        <p style="display: inline;margin-left: 50px;" th:text="${item.price}"></p>
                                        <p th:text="${item.sales} + ' ' + 'sales'"></p>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5 card h-md-100"
                     style="display: inline-flex;max-height: 450px;top: -40px;">
                    <div>
                        <h5 style="display: inline-block;color: #5E6E82;
                        margin-left: 3%;margin-top: 3%">Mentors</h5>
                        <br>
                        <h5 style="display: inline-block;color: #5E6E82;
                        margin-left: 3%;">Name :</h5>
                        <h5 style="display: inline-block;color: #5E6E82;
                        margin-left: 40%;margin-top:3%;">Module :</h5>
                        <br>
                        <div style="height:450px;max-height:450px;margin-top:-48px;">
                            <div style="top:10%;position:relative;overflow-y:scroll;height:82%;display:block;">
                                <hr>
                                <div th:each="item: ${mentors}"
                                     style="border-radius:5px;">
                                    <div class="avatar avatar-xl rounded-circle"
                                         style="background: #00365f;width:4rem;height:4rem;color:white;text-align: center;margin-left:25px;
                                        top:10px;">
                                        <p style="margin-top:13px;font-size:25px;display:inline-block;"
                                           th:text="${item.user.name.toUpperCase().charAt(0)}"></p>
                                    </div>
                                    <div style="margin-bottom: 2rem;top: 10px;display: inline-block;padding-top: 0%;position: relative;
                                    margin-left: 30px;">
                                        <h5 style="display:inline-block;" th:text="${item.user.name}"></h5>
                                        <h5 th:each="module: ${modules}" style="display:inline-block;margin-left: 30px" th:text="${module}" th:if="${item.modules eq module}"></h5>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

            <div style="display: flex; margin-top: 1.5em;">
                <div class="col-sm-12" style="height: 530px;display: inline-flex;margin-right: 2%">
                    <div class="col-sm-12 card h-md-100"
                         style="display:inline-flex;top: -40px;position: relative;height:589px;">
                        <div class="col-sm-12" id="new-teachers"
                             style="height:100%;border-radius: 6px;display:block;">
                            <div style="padding-top:2%">
                                <h5 style="display:inline-block;color: #5E6E82;margin-left:1.5%">My
                                    Students</h5>
                            </div>
                            <div class="row g-3 mb-3" role="tabpanel"
                                 aria-labelledby="tab-dom-60521a66-d0a3-4761-987b-2b8853ac5c1f">
                                <div class="table-responsive">
                                    <div style="height:530px;max-height:530px;margin-top:-48px;">
                                        <div style="top:10%;position:relative;overflow-y:scroll;height:86%;display:block;">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th scope="col">Name</th>
                                            <th scope="col">Student ID</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Joining Date</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="align-middle text-nowrap" th:each="item:${students}">
                                            <td class="name align-middle white-space-nowrap py-2">
                                                <a href="customer-details.html">
                                                    <div class="d-flex d-flex align-items-center">
                                                        <div class="avatar avatar-xl me-2">
                                                            <div class="avatar-name rounded-circle"><span
                                                                    th:text="${item.name.toUpperCase().charAt(0) +''+ item.surname.toUpperCase().charAt(0)}">KG</span>
                                                            </div>
                                                        </div>
                                                        <div class="flex-1">
                                                            <h5 class="mb-0 fs--1"
                                                                th:text="${item.name + ' ' + item.surname}">
                                                                Ricky
                                                                Antony</h5>
                                                        </div>
                                                    </div>
                                                </a>
                                            </td>
                                            <td class="text-nowrap" th:text="${item.id}"></td>
                                            <td class="text-nowrap" th:text="${item.phoneNumber}"></td>
                                            <td class="text-nowrap" th:text="${item.email}"></td>
                                            <td class="text-nowrap" th:text="${item.registerDate}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="teacher/fragments/teacher-fragments :: footer"></div>

        </div>

    </div>
</main>
<div th:replace="teacher/fragments/teacher-fragments :: js"></div>

</body>
</html>