<!DOCTYPE html>
<html lang="en">
<head>
    <div th:replace="main/fragments/main-fragments.html :: links"></div>
    <link rel="stylesheet" href="/main/styles/registration.css">
</head>
<body>
<main class="d-flex flex-column min-vh-100">
    <div th:replace="main/fragments/main-fragments :: topNavbar"></div>
    <section class="min-vh-100 authorization-block d-grid">
        <form action="/registration"  method="post" class="registration-form h-100 order-2 order-md-1 d-flex align-items-center justify-content-center flex-column">
            <div class="text-center">
                <h3 class="registration-form__title">Sign Up</h3>
                <p class="registration-form__description">Creat a new account</p>
            </div>
            <div class="google-container w-100">
                <button class="google-btn btn shadow-none rounded-0 w-100 d-flex align-items-center justify-content-center">
                    <svg width="20" height="20" class="google-btn__icon">
                        <use xlink:href="../sprite.svg#googleIcon"></use>
                    </svg>
                    CONTINUE WITH GOOGLE
                </button>
            </div>
            <p class="registration-form__another d-flex align-items-center justify-content-center w-100">
                OR
            </p>
            <div class="w-100 input-container">
                <div>
                    <label for="name" class="input-container__label">NAME :</label>
                </div>
                <div class="input-group">
                    <label class="input-container__icon rounded-0 bg-transparent m-0" for="name">
                        <svg width="12" height="14">
                            <use xlink:href="../sprite.svg#userIcon"></use>
                        </svg>
                    </label>
                    <input type="text" class="form-control rounded-0 border-start-0 input-container__input shadow-none" placeholder="Your first and last name " id="name" name="name">
                </div>
            </div>

            <div class="w-100 input-container">
                <div>
                    <label for="email" class="input-container__label">YOUR EMAIL ADDRESS:</label>
                </div>
                <div class="input-group">
                    <label class="input-container__icon rounded-0 bg-transparent m-0" for="email">
                        <svg width="18" height="16">
                            <use xlink:href="../sprite.svg#mailIcon"></use>
                        </svg>
                    </label>
                    <input type="email" class="form-control rounded-0 border-start-0 input-container__input shadow-none" placeholder="test@itspace.test" id="email" name="email">
                </div>
            </div>
            <div class="w-100 input-container">
                <div>
                    <label for="password" class="input-container__label">YOUR PASSWORD:</label>
                </div>
                <div class="input-group">
                    <label class="input-container__icon rounded-0 bg-transparent m-0" for="password">
                        <svg width="18" height="16">
                            <use xlink:href="../sprite.svg#keyIcon"></use>
                        </svg>
                    </label>
                    <input type="password" class="form-control rounded-0 border-start-0 input-container__input shadow-none" placeholder="Your password" id="password" name="password">
                </div>
            </div>

            <div class="w-100 input-container">
                <div>
                    <label for="confirmPassword" class="input-container__label">YOUR PASSWORD:</label>
                </div>
                <div class="input-group">
                    <label class="input-container__icon rounded-0 bg-transparent m-0" for="confirmPassword">
                        <svg width="18" height="16">
                            <use xlink:href="../sprite.svg#keyIcon"></use>
                        </svg>
                    </label>
                    <input type="password" class="form-control rounded-0 border-start-0 input-container__input shadow-none" placeholder="Confirm password" id="confirmPassword" name="confirmPassword">
                </div>
            </div>

            <button class="fill-button input-container__button w-100 button-style text-decoration-none d-inline-block text-center rounded-0">
                SIGN UP
            </button>

            <div class="d-flex align-items-baseline justify-content-center">
                <label class="checkbox-container flex-shrink-0 d-flex align-items-center justify-content-center">
                    <input type="checkbox" class="d-none checkbox-container__input"/>
                    <span class="checkbox-container__simulation d-flex align-items-center justify-content-center">
                    <svg width="10" height="10" class="checkbox-container__icon flex-shrink-0">
                        <use xlink:href="../sprite.svg#check"></use>
                    </svg>
                    </span>
                </label>
                <p class="agreement">I agree to the <a href="" class="agreement__link">Terms of Use</a></p>
            </div>
            <footer class="authorization-block__footer d-flex align-items baseline justify-content-center w-100">
                <div>
                    <p class="agreement">Alredy signed up? <a href="/login" class="agreement__login text-decoration-none">Login</a></p>
                </div>
            </footer>
        </form>
        <div class="registration-container d-flex align-items-center justify-content-center text-center h-100  order-1 order-md-2">
            <div>
                <h1 class="registration-container__title">ITSpace</h1>
                <h2 class="registration-container__info">All-round e-learning platform.</h2>
            </div>
        </div>
    </section>
</main>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="/main/scripts/main.js"></script>
</body>
</html>